/* grid suitable for layout 2 dimension */


/* note : display inline , block no effect for grid item */

.container {
    display: grid;
    /*
      define height of row
      แถวที่1: สูง 50px
      แถวที่2: สูง 200px
      แถวที่3: สูง 50px
    */
    grid-template-rows: 50px 200px 50px;
    /*
      define width of column
      คอลัมภ์ 1: กว้าง 200px
      คอลัมภ์ 2: กว้าง 500px
    */
    grid-template-columns: 200px 500px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.container>* {
    padding: 10px;
}

.header {
    background: #8CC152;
    /*
    Header ต้องเริ่มจาก Line1 แล้วไปสิ้นสุดที่ Line 3
    โปรดสังเกต เราใช้คำว่า grid-column
    */
    /* 
        grid-column-start: 1; 
        grid-column-end: 3;          
        => grid-column: 1 / 3; 
        note: -1 is the last grid line
        => grid-column: 1 / -1;
    */
    /* 
        define start to amount column that cover
     */
    grid-column: 1 / span 2;
}

.main {
    background: #F6BB42;
}

.sidebar {
    background: #E9573F;
}

.footer {
    background: #D770AD;
    grid-column: 1 / span 2;
}