/* grid suitable for layout 2 dimension */


/* note : display inline , block no effect for grid item */

.container {
    display: grid;
    /* Fraction Unit (fr) -> rate of dimension */
    /*
    แถวแรกจะมีความสูงเป็น 1 ใน 5 ของความสูงทั้งหมด
    แถวสองจะมีความสูงเป็น 3 ใน 5 ของความสูงทั้งหมด
    แถวสามจะมีความสูงเป็น 1 ใน 5 ของความสูงทั้งหมด
  */
    /* grid-template-rows: 1fr 3fr 1fr; */
    /* grid-template-rows: 200px 1fr 3fr ;
        => พื้นที่ทั้งหมดหักออกไป 200px ก่อน จึงจะเริ่มแบ่งพื้นที่ออกเป็น 4 ส่วนแล้วแจกให้ 1fr กับ 3fr ต่อไป
     */
    /*
    หลักแรกจะมีความกว้างเป็น 1 ใน 4 ของความกว้างทั้งหมด
    หลักสองจะมีความกว้างเป็น 3 ใน 4 ของความกว้างทั้งหมด
  */
    /* grid-template-columns: 1fr 3fr; */
    color: #FFF;
    font-weight: bold;
    text-align: center;
    /* define name gridline */
    grid-template-rows: [header-start] 1fr [header-end content-start] 3fr [content-end footer-start] 1fr [footer-end];
    grid-template-columns: [sidebar-start] 1fr [sidebar-end main-start] 3fr [main-end];
}

.container>* {
    padding: 10px;
}

.header {
    background: #8CC152;
    grid-column: sidebar-start / main-end;
}

.main {
    background: #F6BB42;
}

.sidebar {
    background: #E9573F;
}

.footer {
    background: #D770AD;
    grid-column: sidebar-start / main-end;
}