/* responsive style */


/* if less than 1400px -> media query will active */
/* 
    min-width => if greater than
    max-width => if less than
 */

@media screen and (max-width:1400px) {
    .banner .welcome h2 {
        font-size: 60px;
    }
    nav li {
        font-size: 18px;
    }
}

@media screen and (max-width:960px) {
    .banner .welcome h2 {
        font-size: 40px;
    }
}

@media screen and (max-width:700px) {
    .banner .welcome {
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome br {
        /* display:none => disable */
        display: none;
    }
    .banner .welcome h2 {
        font-size: 25px;
    }
    .banner .welcome span {
        font-size: 1em;
    }
    .images li {
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}

@media screen and (max-width:560px) {
    nav li {
        font-size: 20px;
        position: relative;
        display: block;
        width: 100%;
        margin: 12px 0;
        text-align: center;
    }
    header {
        position: relative;
    }
    nav {
        top: 0;
    }
}